@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", monospace;
}

nav {
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li {
  list-style: none;
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

}

nav ul#menu li {
  float: left;
  border-radius: 8px;
}

nav ul.right li {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  text-decoration: none;

}

nav ul#menu li.active {
  background-color: grey;
}

nav ul#menu li:hover {
  background-color: grey;
}

.blue{
  background-color: #1d90f5;
  position: relative;
  color: white;
  max-height: 700px;
}

#inicio {
  position: relative;
  text-align: center;
  padding-top: 200px;
  height: 300px;
  font-size: 30px;
  align-items: bottom;
}

.blue::before {
  content: '';
  background-image: url('../img/info.webp');
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

header h1,
header p {
  position: relative;
  color: #ffffff;
  line-height: 0.9;
  text-align: center;
  align-items: cener;
}

.apoi {
  background-color: #f5f5f5;
  text-align: center;
  align-items: center;
  height: 300px;
  padding-top: 50px;
  padding: auto;

}

.jogos{
  text-align: center;
  background-color: grey;
  color: white;
}

[class*="col-"] {
  float: left;
  padding-right: 10px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.99%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 49.98%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.63%;
}

.col-12 {
  width: 100%;
}



.slider {

  width: 100%;
  height: 100%;
  position: relative;
  background: #242424;
  overflow: hidden;

}

.slider img {

  width: 100%;
  height: 400px;
  position: relative;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fade 1s;
  object-fit: cover;
}

.slider .seta {

  z-index: 10;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: auto;
  height: 1.5rem;
  font-size: 2.5em;
  color: cornsilk;
  opacity: 0.5;
  transition: opacity 1s;

}

.slider .seta:hover {

  cursor: pointer;
  opacity: 1;

}

.slider .arrow-left {

  left: 2%;

}

.slider .arrow-right {

  right: 2%;

}

.slider .paginacao {

  position: absolute;
  margin: auto;
  top: auto;
  bottom: 2%;
  left: 0;
  right: 0;
  width: 7rem;
  height: auto;
  z-index: 5;

}

.slider .paginacao .botao {

  width: auto;
  height: auto;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  color: #fff;

}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.botao{
  text-align: center;
  background-color: grey;
  color: white;
}

.bot{
  color: grey;
  background-color: white;
  height: 30px;
  width: 90px;
}



.cronograma {
  display: flex;
  justify-content: space-between;
  background-color: #323644;
  color: white;
}

.dia {
  width: 30%;
  border: 1px solid #1d90f5 ;
  padding: 10px;
  margin: 10px;

}
h2 {
  background-color: #f0f0f0;
  text-align: center;
  padding: 5px;
  color: #84868f;
  background-color: #323644;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}


.fotos::before{
  content: '';
  background-image: url('../img/info.jpg');
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fotos{
  font-size: 30px;
  padding-top: 300px;
  text-align: center;
  position: relative;
  height: 700px;
}

.fotos h1,
.fotos p {
  position: relative;
  color: #ffffff;
  line-height: 0.9;
  text-align: center;
  align-items: cener;
}

.footer {
  background-color: white;

  position: static ;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 40px;
}